<% content_for :script do %>
$(document).ready(function(){
  selectifyDropdown('#log_duration_select');
  $('#logs_duration_number').change(function(event){
    makeUnitsMatchValue(event);});
});
<% end %>

<%= form_for :logs, url: url_for(controller: 'logs', action: 'download'), method: 'get' do |f| %>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-sm-4">
    <%= f.label :time_span, 'Time Span', class: 'control-label' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-6 col-sm-6">
    <div class="input-group">
      <%= f.number_field :duration_number, value: 1, min: 1, class: 'form-control' %>

      <div id='log_duration_select' class="input-group-btn"  data-target="#logs_duration_unit">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          day
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">hour</a></li>
          <li><a href="#">day</a></li>
          <li><a href="#">week</a></li>
        </ul>
      </div>
      <%= f.hidden_field :duration_unit, value: "day" %>
    </div>
  </div>

  <div class="col-lg-1">
    <%= f.submit "Download", class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-6 col-sm-6">
    <div class="checkbox top-buffer">
      <%= f.label :include_database_export, 'vSphere', class: 'control-label' do %>
        <%= f.check_box :include_database_export, {} %>Include Database Export
      <% end %>
    </div>
  </div>
</div>



<% end %>
