<% content_for :script do %>
  $(document).ready(function(){
    ajaxifyCheckbox('#meter_configuration_document_mongoid_log_level');
    ajaxifyCheckbox('#meter_configuration_document_vsphere_debug');
    populateLogLevels('#log_level_select'); });
<% end %>

<%= form_for :meter_configuration_document, url: 'logger/level', method: :put do |f| %>

<div class="row" style="margin-top: -5px;">
  <div class="col-lg-1"></div>

  <div class="col-sm-4">
    <%= f.label :uc6_log_level, 'Meter Log Level', class: 'control-label', style: 'display: inline' %><div
                                                                                                         data-status-for="meter_configuration_document_uc6_log_level" class="success-check"></div>
    <div class="input-group" style="padding-top: 5px">
      <div id="log_level_select" class="input-group-btn"  data-target="#meter_configuration_document_uc6_log_level">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Severity
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>
      <%= f.hidden_field :uc6_log_level %>
    </div>
  </div>

  <div class="col-md-4 col-sm-5">
    <label>Debug Resources?</label>
    <div class="checkbox" style="margin-top: 0px">
      <%= f.label :mongo_debug, 'Database', class: 'control-label' do %>
      <%= f.check_box :mongoid_log_level, {}, 'debug', nil %>Database
      <% end %><div data-status-for="meter_configuration_document_mongoid_log_level" class="success-check"></div>
    </div>
    <div class="checkbox">
      <%= f.label :vsphere_debug, 'vSphere', class: 'control-label' do %>
      <%= f.check_box :vsphere_debug, {} %>vSphere
      <% end %><div data-status-for="meter_configuration_document_vsphere_debug" class="success-check"></div>
    </div>
  </div>
</div>

<% end %>
