<% content_for :script do %>
  $(document).ready(function(){
    refreshServiceStates();
    putifyPutLinks();
    togglifyActionLinks(); });

    setInterval(function(){
      refreshServiceStates();}, 15000);

<% end %>

<div class="row" id="services">

  <div class="panel panel-default dashboard-panel">

    <div class="panel-heading">
      <div style="display:inline">Services</div>

      <div class="dropdown" style="float:right;">
        <a id="dropdownMenu1" class="btn dropdown-toggle" data-toggle="dropdown" style="padding:0; margin-top: -5px;">
          <i class="fa fa-bars"></i>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="text-transform: none">
          <li role="presentation">
            <%= link_to 'Resume all collection', 'service/start', role: 'menuitem', class: 'put-link', 'data-callback': 'refreshServiceStates' %>
            <%= link_to 'Pause all collection',  'service/stop',  role: 'menuitem', class: 'put-link', 'data-callback': 'refreshServiceStates' %>
          </li>
        </ul>
      </div>
    </div>

    <div style="clear:both"></div>

    <div class="panel-body" style="padding: 0px 10px 5px 10px">

      <% SystemdHelper::SERVICE_LABELS.each do |service_name| %>
      <div class="row status" data-row-for="<%= service_name %>">

        <div class="col-xs-6">
          <%= service_name %>
        </div>
        <div class="col-xs-2 col-sm-4 service_status" data-status-for="<%= service_name %>"></div>

        <div class="col-xs-1 service_action" data-action-for="<%= service_name %>" style="width: 1em">
          <a href="#" title="Pause"  data-action="stop" class="container_action pause collapse"><i class="fa fa-pause"></i></a>
          <a href="#" title="Resume" data-action="start" class="container_action resume collapse"><i class="fa fa-play"></i></a>
        </div>

        <div class="col-xs-1 service_restart" data-action-for="<%= service_name %>" style="width: 1em">
          <a href="#" title="Restart" data-action="restart" class="container_action restart"><i class="fa fa-repeat"></i></a>
        </div>

      </div>
      <% end %>

    </div>
  </div>
</div>
