<%# The rebootingModal is included in the main layout  %>
<% content_for :script do %>

  $(document).ready(function(){
    initUpgradeWebSocket();

    $('#upgrade_button').click(function(){
      $('#upgradeModal').modal('hide');
      $('#downloadProgressModal').modal('show');
      startMeterUpgrade(); });

    $('#upgrade_reboot_button').click(function(e){
      $('#downloadProgressModal').modal('hide');
      $('#rebootingModal').modal('show');
      $('#rebootingModal .progress-bar').addClass('active');
        $.ajax({ type: 'PUT',
                 url: '/service/reboot'})
              .always(function(){ loopTillRebootFinished(); })
    });
});

<% end %>

<div id="upgrade_link_row" class="row">
  <div class="col-xs-12 text-center">
    <hr style="margin: 10px">
    <a id="update_available_link" href="#" data-toggle="modal" data-target="#upgradeModal">Update Available</a>
  </div>
</div>

<!-- Modal -->
<div id="upgradeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Version <%= DockerHubHelper::latest_version %></h4>
      </div>
      <div class="modal-body">
        <div class="text-left">
          <%= raw DockerHubHelper::latest_release_notes %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="upgrade_button" type="button" class="btn btn-success">Upgrade Meter</button>
      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div id="downloadProgressModal" class="modal fade" role="dialog"
     data-keyboard="false" data-backdrop="static" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Updating Meter</h4>
      </div>
      <div class="row" id="downloadModalStatus" style="padding: 20px">
        <div class="col-xs-12">
          Initiating download...
        </div>
      </div>

      <div class="modal-body hidden" style="overflow-y:scroll; max-height: 400px; margin: 5px 10px">
        <div id="upgradeStatus" style="margin: -10px 0 6px 15px;"></div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button id="upgrade_reboot_button" type="button" class="btn btn-primary disabled">Reboot</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="progress_step_row_template" class="panel-group" style="margin: 0 0 6px 15px; display:none">
  <div class="panel panel-default">
    <div class="panel-heading accordion-toggle" data-toggle="collapse">
      <span class="panel-title" style="font-weight:bold"><a></a></span>
    </div>
  </div>

  <div class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">Container Layer</div>
        <div class="col-xs-8 text-center">Status</div>
      </div>
    </div>
  </div>
</div>

<div id="progress_bar_template" style="display:none">
  <div class="row">
    <div class="download-bar-label col-xs-4" style="height:12px"></div>
    <div class="col-xs-8" style="height:12px; margin-top: 6px">
      <div class="progress upgrade-progress">
        <div class="progress-bar progress-bar-striped active upgrade-progress" role="progressbar"><span></span></div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/ellipsis' %>
