
<%= fields_for networking do |nf| %>
<fieldset id="networkConfig">
  <h3 id="networkToggleLegend">
    <a data-target="#automatic" href="#" class="leftToggle  <%= 'selected' unless networking.static? %>">Automatic</a>
    <a data-target="#static"    href="#" class="rightToggle <%= 'selected' if networking.static? %>">Static</a>
  </h3>

<div id="automatic" <%= raw('class="collapse"') if networking.static? %>>
 <% if networking.static? or networking.ip_address.blank? %>
  <p>Leave this option selected to allow configuration by DHCP.</p>

  <p>Alternately, the appliance's network configuration can be provided by vCenter.</p>

  <p><em><a href="http://6fusion.com/timK">Click here</a> for instructions on configuring the network through vCenter.</em></p>

 <% else %>
  <div class="panel panel-default" style="border: 0; width: 70%; margin: auto">
    <div class="panel-heading" style="background-color: transparent">Current Settings Provided by vSphere</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">IP Address:</div>
        <div class="col-lg-6"><%= networking.ip_address %></div>
      </div>
      <div class="row">
        <div class="col-lg-6">Subnet Mask:</div>
        <div class="col-lg-6"><%= networking.netmask %></div>
      </div>
      <div class="row">
        <div class="col-lg-6">Gateway:</div>
        <div class="col-lg-6"><%= networking.gateway %></div>
      </div>
      <div class="row">
        <div class="col-lg-6">Primary DNS:</div>
        <div class="col-lg-6"><%= networking.primary_dns %></div>
      </div>
      <div class="row">
        <div class="col-lg-6">Secondary DNS:</div>
        <div class="col-lg-6"><%= networking.secondary_dns %></div>
      </div>
    </div>
  </div>
 <% end %>
</div>

<div id="static" <%= raw('class="collapse"') unless networking.static? %>>
  <div class="form-group">
    <%= nf.label :ip_address, 'IP Address', class: 'form-label' %>
    <%= nf.text_field :ip_address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= nf.label :netmask, 'Subnet Mask', class: 'form-label' %>
    <%= nf.text_field :netmask, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= nf.label :gateway, 'Primary Gateway', class: 'form-label' %>
    <%= nf.text_field :gateway, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= nf.label :primary_dns, 'Primary DNS', class: 'form-label' %>
    <%= nf.text_field :primary_dns, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= nf.label :secondary_dns, 'Secondary DNS', class: 'form-label' %>
    <%= nf.text_field :secondary_dns, class: 'form-control' %>
  </div>
</div>
</fieldset>
<%= nf.hidden_field :type, value: networking.type %>
<% end %>
