<div id="proxyConfig">
    <%= field_set_tag 'Outbound HTTP Proxy' do %>
    <div class="form-group">
      <%= f.label :host, class: 'control-label' %>
      <%= f.text_field :uc6_proxy_host, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :port, class: 'control-label' %>
      <%= f.number_field :uc6_proxy_port, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :user, class: 'control-label' %>
      <%= f.text_field :uc6_proxy_user, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'control-label' %>
      <%= f.password_field :uc6_proxy_password, class: 'form-control' %>
    </div>
    <% end %>
</div>
