<%
=begin %>
<% content_for :script do %>
  $(function() {
    var infrastructures = [ <%= raw(@infrastructures.map{|i| "'#{i[:name]}'"}.join(',')) %> ] ;
    $("#uc6_infrastructure_name").autocomplete({ source: infrastructures }); });
<% end %>
    <%
=end %>

<%= render partial: 'progress_bar', locals: { percent_complete: @percent_complete } %>

<div class="text-center">
  <%= render partial: 'shared/errors', locals: { errored_document: @meter_configuration_document } %>
</div>

<%= form_for @meter_configuration_document, url: wizard_path, :method => :put do |f| %>

  <%= field_set_tag 'vCenter Configuration' do %>
    <div class="form-group">
      <%= f.label 'vCenter Host', 'vCenter Host', class: 'control-label' %>
      <%= f.text_field :vsphere_host, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'vCenter User', 'vCenter User', class: 'control-label' %>
      <%= f.text_field :vsphere_user, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'vCenter Password', 'vCenter Password', class: 'control-label' %>
      <%= f.password_field :vsphere_password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.check_box :vsphere_ignore_ssl_errors, class: 'form-control-inline', checked: true  %>
      <%= f.label :vsphere_ignore_ssl_errors, 'Accept self-signed SSL certificates from vCenter host?', class: 'control-label' %>
    </div>
  <% end %>

  <div class="actions text-right">
    <%= f.submit "Continue", class: 'btn btn-success busy-trigger' %>
  </div>

<% end %>
