

<%= render partial: 'progress_bar', locals: { percent_complete: @percent_complete } %>

<div class="text-center">
  <%= render partial: 'shared/errors', locals: { errored_document: @meter_configuration_document } %>
</div>

<%= form_for @meter_configuration_document, url: wizard_path, :method => :put do |f| %>

  <%= field_set_tag 'UC6 Organization' do %>
  <div class="form-group">
    <%= f.label :organization, class: 'control-label' %><br>
    <%= f.select :uc6_organization_id, @organizations.map{|o| [o[:name], o[:remote_id]] }, {}, {class: "form-control chosen-select"}  %>
  </div>
  <% end %>

  <div class="actions text-right">
    <%= f.submit "Continue", class: 'btn btn-success busy-trigger' %>
  </div>

<% end %>

<% content_for :script do %>
$(document).ready(
  function(){
  $(".chosen-select").chosen({
    width: "100%",
    no_results_text: "No organization found..."}
  );
});
<% end %>
