<% content_for :script do %>

$( document ).ready(function() {
  initUC6SyncWebSocket();
});

<% end %>

<%= render partial: 'progress_bar', locals: { percent_complete: @percent_complete } %>

<div id="uc6_sync_init">

  <p>We'll now attempt to gather the virtual machine inventory from vSphere and get it sync'd up with UC6.</p>
  <br>
  <div class="row">
    <div class="col-6 text-center">
      <a href="javascript:startMeterSync()"  class="btn btn-success" >Start</a>
    </div>
    <!--
    <div class="col-6 text-right" style="margin-right: 20px">
      <a href="javascript:skipMeterSync()">Skip UC6 Sync <i class="fa fa-angle-right"></i></a>
    </div>
    -->
  </div>

</div>



<div id="uc6_sync_steps" class="collapse" data-uri="<%= request.host %>:<%= request.port %>/websocket" >

  <ul>
    <li id="step1" class="step">
      <i class="fa fa-cog"></i>
      Collect infrastructures from vSphere
      <div class="response"></div>
    </li>
    <li id="step2" class="step">
      <i class="fa fa-cog"></i>
      Submit infrastructures to UC6
      <div class="response"></div>
    </li>
    <li id="step3" class="step">
      <i class="fa fa-cog"></i>
      Collect virtual machine inventory for infrastructures
      <div class="response"></div>
    </li>
    <li id="step4" class="step">
      <i class="fa fa-cog"></i>
      Retrieve existing virtual machine inventory from UC6
      <div class="response"></div>
    </li>
  </ul>
  <br>
  <div id="uc6_sync_finished_message">
  </div>
  <div class="actions text-right">
    <%= form_for @meter_configuration_document, url: wizard_path, :method => :put do |f| %>
      <%= f.submit "Continue", class: 'btn btn-success disabled busy-trigger', id: 'uc6_sync_continue_button' %>
    <% end %>
  </div>

</div>
