
<div id="reboot_prompt"
     data-shutdown-uri="<%= url_for(controller: 'service', action: 'poweroff', method: :put) %>"
     data-reboot-uri="<%= url_for( controller:  'service', action: 'reboot',   method: :put) %>"
     <%= raw(%Q|data-refresh-host="#{@networking.ip_address}"|) if @networking.static? %>>
  <div class="row">
    <div class="col-lg-12">
      <p>The meter must be rebooted for your network configuration changes to take effect.
        Would you like to reboot now?
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="actions text-right">
        <% if session[:shutdown_recommended] %>
          <%= link_to 'Shutdown now', 'javascript:triggerShutdown()', method: :put, class: "btn btn-primary", style: "margin-right: 12%" %>
        <% else %>
          <%= link_to 'Reboot now',   'javascript:triggerReboot()',   method: :put, class: "btn btn-primary", style: "margin-right: 12%" %>
        <% end %>
        <%= link_to "I'll reboot later", next_wizard_path, class: "btn btn-success", style: "margin-right: 5px" %>
      </div>
    </div>
  </div>
</div>

<% if @networking.ip_address.blank? %>
<div id="reboot_started" style="display:none">
  <p>
    Once the meter has rebooted, please browse to the new address to continue the registration process.
  </p>
</div>
<% else %>
<div id="reboot_started" style="display:none">

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
      Reboot in progress
    </div>
  </div>
</div>
<% end %>

<div id="reboot_failed" style="display:none">

  <p>Not able to determine if host is back up. Please check the meter appliance console and continue the registration process with the proper URL.</p>

</div>
