<!DOCTYPE html>
<html>
<head>
  <title>6fusion VMware Meter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script>
    <%= yield :script %>
  </script>
</head>
<body style="background-color: #c7cbd4">

<div class="wrapper">
  <div class="text-center">
    <a href="https://console.6fusion.com" tabindex="-1"><%= image_tag 'logo.png', size: "106x45", style: 'margin-bottom: 10px' %></a>
    <br>
  </div>

  <%= yield %>
</div>

</body>
</html>
