<!DOCTYPE html>
<html>
<head>
  <title>Meter Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script>
    <%= yield :script %>
  </script>
</head>
<body style="background-color: #c7cbd4">

<div class="wrapper">
  <div class="text-center">
    <a href="https://console.6fusion.com"><%= image_tag asset_path('logo.png'), size: "106x45", style: 'margin-bottom: 10px' %></a>
    <br>
  </div>

  <div class="text-center">
    <h3>VMware Meter Registration</h3>
    <br>
  </div>
  <%= yield %>
</div>

<%= render 'shared/reboot' %>

</body>
</html>
