<%# Meter Information tab %>

<div class="row">
  <div class="col-xs-4">
    Meter Version
  </div>
  <div class="col-xs-4">
    <%= DockerHelper::current_version %>
  </div>
  <div class="col-md-3">
    <%= "(#{DockerHubHelper::latest_version} available)" if DockerHubHelper::update_available? %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    Registration Date
  </div>
  <div class="col-xs-4">
    <%= meter_config.registration_date.to_formatted_s(:long_ordinal) if meter_config.registration_date %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    Registration Account
  </div>
  <div class="col-xs-4">
    <%= meter_config.uc6_login_email %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    Assigned Organization
  </div>
  <div class="col-xs-4">
    <%= meter_config.uc6_organization_name %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-4">
    vCenter Host
  </div>
  <div class="col-xs-4">
    <%= meter_config.vsphere_host %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    vCenter User
  </div>
  <div class="col-xs-4">
    <%= meter_config.vsphere_user %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    Inventory Size
  </div>
  <div class="col-xs-4">
    <%= @inventory_size %>
  </div>
</div>


