<% content_for :script do %>
$(document).ready(function(){
    saveTabsForRefresh(); });
<% end %>
<br>

<div class="container-fluid">

  <div class="row">
  <ul class="nav nav-pills nav-stacked col-md-2 green-pills" role="tablist">
    <li class="active">
      <a href="#Status" role="tab" data-toggle="tab">Status</a>
    </li>
    <li>
      <a href="#Logs" role="tab" data-toggle="tab">Logs</a>
    </li>
    <li>
      <a href="#Info" role="tab" data-toggle="tab">Info</a>
    </li>
    <% if params[:advanced] %>
    <li>
      <a href="#Advanced" role="tab" data-toggle="tab">Advanced</a>
    </li>
    <% end %>
  </ul>

  <div class="tab-content col-xs-12 col-md-10 col-lg-9">
    <div id="Status" class="tab-pane fade in active">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-6 col-sm-4">
          <%= render partial: 'status/appliance', locals: { update_available: @update_available } %>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-xs-6 col-sm-5">
          <%= render partial: 'status/health' %>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
          <%= render partial: 'status/services' %>
          </div>
      </div>
    </div>

    <div id="Logs" class="tab-pane fade in">
      <%= render partial: 'logs/download_form'  %>
      <hr>
      <%= render partial: 'logs/set_level_form' %>
    </div>

    <div id="Info" class="tab-pane fade in">
      <%= render partial: 'info', locals: { meter_config: @meter_configuration_document } %>
    </div>

    <% if params[:advanced] %>
    <div id="Advanced" class="tab-pane fade in">
      <%= render partial: 'advanced', locals: { meter_config: @meter_configuration_document } %>
    </div>
    <% end %>
  </div>
</div>


